<h1>This is the Login Page</h1>

<h4>Player 1:</h4>
<input type="text" placeholder="Username" ng-model="user1">
<input type="password" placeholder="Access Code" ng-model="password">
<h4>Player 2:</h4>
<input type="text" placeholder="Username" ng-model="user2">
<input type="password" placeholder="Access Code" ng-model="password">
<h4>Player 3:</h4>
<input type="text" placeholder="Username" ng-model="user3">
<input type="password" placeholder="Access Code" ng-model="password">
<h4>Player 4:</h4>
<input type="text" placeholder="Username" ng-model="user4">
<input type="password" placeholder="Access Code" ng-model="password">
